[submodule "lib/molokai"]
	path = lib/molokai
	url = https://github.com/tomasr/molokai.git
	branch = master
[submodule "lib/Vundle"]
	path = lib/Vundle
	url = https://github.com/gmarik/Vundle.vim.git
	branch = master
[submodule "lib/prezto"]
	path = lib/prezto
	url = https://github.com/sirreal/prezto.git
	branch = master
