[alias]
	ap = add --patch
	ci = commit -v
	co = checkout
	d = diff
	dc = diff --cached
	f = fetch --prune
	graph = log --graph --oneline --decorate=short --all
	l = log
	ll = log --oneline --format='%H' -1
	lo = log --oneline
	lp = log --patch-with-stat
	ls = log --stat
	p = pull --prune --rebase
	pushf = push --force-with-lease
	st = status
	subs = submodule update --init --recursive
	unstage = reset HEAD
[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	status = auto
	ui = auto
[commit]
	gpgSign = true
[core]
	autocrlf = input
	excludesfile = ~/.dotfiles/config/global.gitignore
	pager = less
[diff]
	algorithm = histogram
	tool = vimdiff
[difftool]
	prompt = false
[github]
	user = sirreal
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[push]
	default = simple
	followTags = true
[rebase]
	autosquash = true
	stat = true
[user]
	email = jon.surrell@gmail.com
	name = Jon Surrell
	signingkey = 263A660FF6EFB758
	useConfigOnly = true
[mergetool "vimdiff"]
	trustExitCode = false
[includeIf "gitdir:~/a8c/**/*"]
	path = /Users/jonsurrell/.dotfiles/config/gitconfig.a8c
