[user]
	name = Jon Surrell
	useConfigOnly = true
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
	grep = auto
[core]
	excludesfile = ~/.dotfiles/config/global.gitignore
	pager = less
	autocrlf = input
[github]
	user = sirreal
[push]
	default = simple
	followTags = true
[alias]
	st = status
	ci = commit
	co = checkout
	unstage = reset HEAD
	subs = submodule update --init --recursive
[diff]
	algorithm = histogram
