# requires >= Bash 4.3
# note: the prompt will not be updated if you use a custom PS1 which contains a newline character

set editing-mode vi
set keymap vi-command
set enable-keypad Off

# To show vi mode in the prompt (+ :)
# Doesn't work with multi-line
set show-mode-in-prompt off

